body{
font-family:Arial;
background:#050b1f;
color:white;
margin:0;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#020617;
}

.navbar a{
color:white;
margin-left:20px;
text-decoration:none;
}

/* SEARCH */

#searchInput{
padding:8px;
width:300px;
}

/* SECTIONS */

section{
padding:40px;
}

/* RECENT THREATS */

.recent-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.threat-card{
background:#0f172a;
padding:20px;
border-radius:10px;
border-left:5px solid red;
}

/* TOP THREATS */

.top-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:15px;
}

/* MAP SECTION */

.map-section{
margin-top:40px;
}

#map{
height:500px;
width:100%;
border-radius:10px;
}

/* DARK MAP */

.leaflet-container{
background:#020617;
height:100%;
width:100%;
}

/* ADMIN DASHBOARD */

.admin-container{
padding:40px;
display:grid;
grid-template-columns:1fr;
gap:30px;
}

.add-threat{
background:#0f172a;
padding:20px;
margin-bottom:30px;
border-radius:10px;
}

.add-threat input{
display:block;
margin-bottom:10px;
padding:8px;
width:300px;
}

.admin-map{
width:100%;
}

.admin-map #map{
height:500px;
width:100%;
margin-top:20px;
border-radius:10px;
}

/* THREAT TABLE */

.threat-table table{
width:100%;
margin-top:20px;
background:#0f172a;
border-collapse:collapse;
}

.threat-table th,
.threat-table td{
padding:10px;
border-bottom:1px solid #1e293b;
}

/* USER DASHBOARD */

.dashboard-container{
padding:40px;
display:grid;
grid-template-columns:1fr;
gap:30px;
}

.dashboard-map{
width:100%;
}

.dashboard-map #map{
height:500px;
width:100%;
margin-top:20px;
border-radius:10px;
}

/* LOGIN / REGISTER CARD */

.card{
width:350px;
margin:120px auto;
padding:30px;
background:#0f172a;
border-radius:12px;
text-align:center;
}

.card input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:6px;
}

.card button{
width:100%;
padding:10px;
background:#ef4444;
border:none;
color:white;
cursor:pointer;
border-radius:6px;
}