body{

background:#0f172a;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.card{

background:#020617;
padding:40px;
border-radius:10px;
box-shadow:0 0 20px red;
text-align:center;

}

input{

display:block;
margin:10px auto;
padding:10px;
width:200px;
background:#111827;
border:none;
color:white;

}

button{

padding:10px 20px;
background:red;
border:none;
color:white;
cursor:pointer;

}

button:hover{

background:#ff4444;

}

a{

color:#ff6666;

}